<%- include('../../shared/includes/head', {pageTitle: 'Payment Successful!' }) %>
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main>
                <h1>Payment Successful!</h1>
                <p>You can visit the <a href="/orders">Orders </a>page for more Details!</p>
            </main>
            <%- include('../../shared/includes/footer') %>