body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9e9e9e;
}

p {
    color: #f7ecec;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    background-color: #000000;
    margin: 10px 0;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    width: 70px;
    transition: background-color 0.3s ease;
  }
  
  p:hover {
    background-color: #ece1e1;
    color: rgb(0, 0, 0);
    outline: 2px solid black;
  }