<section>
    <h1>My MongoDB Practice</h1>
    <p>Welcome to my MongoDB practice page! Here, I will showcase various examples and exercises I've completed while learning MongoDB.</p>
    
    <ul>
        <li><a href="/mongo/insert">Insert Documents</a></li>
        <li><a href="/mongo/query">Query Documents</a></li>
        <li><a href="/mongo/update">Update Documents</a></li>
        <li><a href="/mongo/delete">Delete Documents</a></li>
        <li><a href="/mongo/aggregation">Aggregation Framework</a></li>
    </ul>
    
    <p>Feel free to explore the links above to see my work with MongoDB!</p>

    <form action="/home" method="POST">
        <label for="exampleInput">Example Input:</label>
        <input type="text" id="exampleInput" name="exampleInput" placeholder="Type something...">
        <button type="submit">Submit</button>
    </form>
</section>